/*==============================
base
==============================*/

* {
  box-sizing: border-box;
}

html,
body {
	height: 100%;
}


body {
  font-family: Arial, sans-serif;
  @include fonts();	
  color: $base-contrast-color;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

/*===== support =====*/


/*==============================
visually-hidden
==============================*/

.visually-hidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

/*==============================
display-none
==============================*/

.display-none {
  display: none !important;
}