/*===================================================

controls

===================================================*/

.controls {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100%;
		position: absolute;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
	
	&__list {
		@mixin ul-reset;
		margin: auto;		
	}
	
	&__item {
		display: block;
		padding: 10px 0;
	}
	
	&__btn {
		@mixin input-reset;
		cursor: pointer;
		width: 40px;
		height: 40px;
		background-color: $base-color;
		border-radius: 50%;
		@mixin fonts 18px, 700, 1;
	}
	
	@media (min-width: $tablet-width) {
		width: 15%;
	}
	
	@media (min-width: $desktop-width) {
		width: 10%;
	}
}